body {
    background-color: #bbb;
}
#tools {
    display: none;
    height: 250px;
    width: 200px;
    border: 1px solid #999;
    background-color: #bbb;
}
#tools p {
    font-size: 12px;
    margin: 2px;
}
#toolsToggler img {
    height: 27px;
}
#tools,
#toolsToggler {
    position: absolute;
    right: 80px;
}
.inp {
    width: 55px;
}

.color-palette {
  height: 100px;
  width: 100px;
  background: red;
  display: none;
}
.palette {
  margin-top: 5px;
  width: 270px;
  height: 220px;
  background: #efefef;
  border: 1px solid #bcbcbc;
  border-radius: 1px;
  display: none;
  padding: 1px;
  position: absolute;
  z-index: 1000;
}
.color-option {
  width: 18px;
  height: 18px;
  margin: 3px;
  cursor:pointer;
  float: left;
}
